<nav class="main-menu">
    <ul>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
          <a class="nav-text" [routerLink]="['/teamLeader/projectDetails']">project details</a>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
          <a class="nav-text" [routerLink]="['/teamLeader/graphStatusHoursProjects']">graph-status-hours-projects</a>
        </a>
      </li>
    </ul>
  </nav>
